body {
  background-color: #18191d;
  overflow: hidden auto;
}

.text-overflow-2 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.insert-bar {
  animation: flashing .5s infinite linear;
}

@keyframes flashing {
  0% {
    opacity: .2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}
